<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    {{> nav}}
    <main>
        <h1>{{ heading }}</h1>
    </main>
    <div class="content-panel">

        {{#if loginFailed}}
        <p class="warning">
            Invalid username or password!
        </p>
        {{/if}}

        <form method="post" action="/login">
            <p>
                <label class="form-label" for="username">Login</label>
                <input type="text" id="username" name="username" {{#if username}}value={{username}}{{/if}}>
            </p>
            <p>
                <label class="form-label" for="password">Password</label>
                <input type="password" id="password" name="password">
            </p>
            <p>
                <input type="submit" value="Login">
            </p>
        </form>
    </div>
</body>

</html>